.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_img{
    background-image: url("../assets/Rectangle.png");
    background-repeat: no-repeat;
    width: 74vh;
    height: 44vh;
    top: -16px;
    border-radius: 0px 0px 0px 180px;
}

.content_title{
    width: 40vh;
    height: 12vh;
    margin-left: 5vh;
    font-style: normal;
    font-weight: bold;
    font-size: 5vh;
    line-height: 59px;
    color: #09295E;
}

.content_title_color{
    color: #21ADCF;
}

.content_search{
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 5vh;
    position: absolute;
}

.content_search_input{
    padding-left: 10px;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    height: 4vh;
    width: 45vw;
}

.content_search_select{
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    height: 5vh;
    width: 15vw;
    margin: 0px 10px;
}

.content_search_button{
    height: 5vh;
    width: 10vw;
    border: 1px solid #000000;
    background: #21ADCF url("../assets/Vector.svg") no-repeat center;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    border-radius: 0px 11px 11px 0px;
}

.regions{
    margin: 0px 50px;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill,minmax(30vh, 1fr));
}
.countri{
    align-items: center;
    display: flex;
}

.region_name{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #09295E;
}

.padding_countries{
    padding: 6px 0px;
}

.margin-region > div:first-child{
    padding-bottom: 24px;
}
.countri_name{
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.countri_flag{
    width: 3vh;
    height: 2vh;
}

.countri_fav{
    width: 24px;
    margin-left: 8px;
}

.notFound{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.notFound_text{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #BDBDBD;
}

.bg-modal {
    background: rgba(9, 41, 94, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	justify-content: center;
	align-items: center;
    display: none;
}

.modal-contents {
    height: 35vh;
    width: 60vw;
	background-color: white;
	padding: 50px;
	position: relative;
	border-radius: 4px;
}


.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

.modal-contents-title{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #09295E;
}

.modal-contents-label{
    padding: 6px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #4F4F4F;
}

.modal-contents-img{
    margin-top: 15px;
    width: 181px;
    height: 120px;
}
