<div>
    <div class="content">
        <div class="content_title">
            <label>Find any <label class="content_title_color">country</label> in the world.</label>
            <div class="content_search">
                <input
                    [(ngModel)]="filterCountri"
                    class="content_search_input"
                    placeholder="Search country"
                    name = "filterCountri"
                    type="text">
                <select class="content_search_select" [(ngModel)]="selectCountry" (ngModelChange)="changeCountry()" name="select" id="selectCountry">
                    <option value="ShowAll" selected>Show all</option>
                    <option value="Favorites">Favorites</option>
                    <option value="Africa">Africa</option>
                    <option value="Americas">America</option>
                    <option value="Asia">Asia</option>
                    <option value="Europe">Europe</option>
                    <option value="Oceania">Oceania</option>
                </select>
                <button class="content_search_button" type="button"></button>
            </div>
        </div>
        <div class="content_img"></div>
    </div>
</div>

<div class="regions" *ngIf="countriesSelect.length!==0">
    <div *ngFor="let region of regions">
        <label class="region_name">{{region.name}}</label>
        <div *ngFor="let countri of countriesSelect |filter:filterCountri">
            <div (click)="open(countri)" class="countri padding_countries" *ngIf="countri.region==region.value">
                <img class="countri_flag" [src]="countri.flags[0]">
                <label class="countri_name">{{countri.name.common}}</label>
                <img class="countri_fav" *ngIf="iconFav" src="../assets/starSelect.svg">
            </div>
        </div>
    </div>
</div>

<div class="notFound" *ngIf="countriesSelect.length==0">
    <label class="notFound_text">No results found</label>
</div>


<div id="modal" class="bg-modal">
	<div class="modal-contents">
		<div (click)="close()" class="close">+</div>
        <div>
            <label class="modal-contents-title">{{conuntriSelect?.name.common}} </label>
            <img *ngIf="!favSelect" (click)="fav(conuntriSelect)" src="../assets/star.svg">
            <img *ngIf="favSelect" (click)="disfav(conuntriSelect)" src="../assets/starSelect.svg">
        </div>
        <label class="modal-contents-label">Region: {{conuntriSelect?.region}}</label><br>
        <label class="modal-contents-label">Population: {{conuntriSelect?.population}}</label><br>
        <label class="modal-contents-label">Capital: {{conuntriSelect?.capital}}</label><br>
        <label class="modal-contents-label">Currency: {{conuntriSelect?.currencies |json}}}</label><br>
        <label class="modal-contents-label">Language: {{conuntriSelect?.languages |json}}</label><br>
        <label class="modal-contents-label">Border Countries:
            <label *ngFor="let border of conuntriSelect?.borders">{{border}} </label></label><br>
        <label class="modal-contents-label">Flag:</label><br>
        <img class="modal-contents-img" [src]="conuntriSelect?.flags[0]">
	</div>
</div>